body {
    background-color: #7cdaf9;
    padding: 0;
    margin: 0;
}

header, footer {
    background-color: #004173;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
}

header {
    height: 4rem;
}

nav .navbar .bg-custom {
    background-color: #004173 !important;
}

.containerTeam {
    height: 55VH;
    overflow: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 20vh;
}

footer {
    bottom: 0;
    width: 100%;
}

.dot {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #004173;
    border-radius: 50%;
    opacity: 0.6;
    animation: move 10s infinite linear;
}

/* Animación para mover los puntos */
@keyframes move {
    0% {
    transform: translateX(0) translateY(0);
    }
    25% {
    transform: translateX(10vw) translateY(0);
    }
    50% {
    transform: translateX(10vw) translateY(10vh);
    }
    75% {
    transform: translateX(0) translateY(10vh);
    }
    100% {
    transform: translateX(0) translateY(0);
    }
}


.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form {
    padding: 25px;
    background: #004173;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #ffffff;
}
.form-control {
    background-color: #0979b0;
    color: #fff;
    border: 0;
}
.btn-primary {
    background-color: #0979b0;
    border: 0;
}

.chat-container {
    background-color: #7cdaf9;
    box-shadow: 5px 5px;
}